.main{
  background-color: rgb(14, 13, 13);
  border-radius: 10px;
  position: relative;
}
.header{
  width: 100%;
  height: 64px  ;
  position: fixed;
  display: flex;
  z-index: 4;
  background-color:rgb(0, 0, 0,0.5);
  top: 0px;
  align-items: center;   
  justify-content:space-between;
}
.member{
  display:flex;
  flex-direction: row;
  flex: 1fr 1fr;
  align-items: center;
  margin-right: 350px ;
  gap: 20px;
}
.signup{
  color: gray;
  font-family:CircularSpotifyTxT-Black ;
}
.signup:hover{
  color: white;
  cursor: pointer;
  margin-top: 3px;
  transition:.9s ;
}
.login{
  background-color: white;
  width: 100px;
  text-align:center;
  color: black;
  border-radius: 50px;
  font-family:CircularSpotifyTxT-Black ;
}
.login:hover{
  margin-top:3px;
  opacity:.5;
  cursor: pointer;
  transition: .8;
}
.login p{
  margin: 10px;
}
.headerbutton{
  display:flex;
  padding-left :30px ;
  gap: 10px;
}
.f-button{
  position:relative;
  display: inline block;
}
.f-button  button{
  width: 25px;
  height: 25px;
  border: none;
  background-color: rgb(112, 112, 112);
  border-radius: 200px;
}
.f-button  img:hover{
  width:27px;
  height:27px;
  opacity: 1;
  transition: .2s;
}
.f-button img{
  position: absolute;
  border-radius: 200px;
  width: 25px;
  height: 25px;
  opacity: 0.5;
}

.b-button{
  position:relative;
  display: inline block;
}
.b-button  img:hover{
  width:27px;
  height:27px;
  opacity: 1;
  transition: .2s;
}
.b-button  button{
  width: 25px;
  height: 25px;
  border: none;
  background-color: rgb(112, 112, 112);
  border-radius: 200px;
}
.b-button img{
  position: absolute;
  border-radius: 200px;
  width: 25px;
  height: 25px;
  opacity: .5;
}
.primary-container{
  display: grid;
  grid-template-columns: 1fr;
  padding:0px 24px;
  padding-top: 85px;
} 
.secondary-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap:24px;
} 
@media(max-width:1000px){
  .secondary-container{
      grid-template-columns: 1fr 1fr 1fr;
  }
}
@media(max-width:750px){
  .secondary-container{
      grid-template-columns: 1fr 1fr;
  }
}
.cover img{
  border-radius: 5px;
  margin-bottom: 16px;
  width: 100%;
}
.title h2{
  font-size: 25px;
  font-family:CircularSpotifyTxT-Black ;
  letter-spacing: normal;
  color: white;
  margin:0px;
  display: inline-block;
}
.title{
  height: 37px;
}
.artist-name{
  color:white;
  font-style: solid;
  font-weight: 700;
  font-family:CircularSpotifyTxT-Black ;
  margin:0px;
}
.card{
  display: inline-block;
  background-color: rgb(24, 23, 23);
  border-radius: 8px;
  cursor: pointer;
  opacity: 1;
  transition: background-color 0.3s;
  width: 180.595px;
}
.card:hover{
  display: inline-block;
  opacity: 2;
  background-color: rgb(34, 31, 31);
  transition: background-color 0.5s;  
}
.card:hover .cover img{
 box-shadow: 0px 2.5px 2px 2px rgba(15, 15, 15, 0.5);
}
.photo{
  width: 148.5px;
  height: 148.5px;
}
.artist-info{
  color: #cecece;
  font-size: .875rem;
  font-family:CircularSpotifyTxT-Book;
  font-weight: 200;
}
.inside-card{
  width: 148.5px;
  height: 230.76px;
  align-items: center;
  padding: 16px;
}
.main-bottom{
  padding-top:40px ;
  color: white;
}
.webpage-info{
  padding: 8px 40px 32px 32px;
}
.contain {
  position: relative;
}
.play-button
{
  width:6px;
  position:absolute;
  bottom: 0px;
  right: 49px;
  transition:  0.5s;
  opacity: 0;
}

.play-button:hover{
  bottom: 14px;
  opacity: 1;
}
.but{
  border:none;
  cursor: pointer;
  padding: 0px;
  width: 0px;
}
.play-button  img{
  width: 48px;
  border-radius: 60px;
}
.about{
  display: grid;
  grid-template-rows: 1fr 1fr;
  row-gap: 6px;
}
.address{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.address span{
  display:grid;
  padding-bottom: 15px;
  color: #9b9a9a;
  font-weight: 500;
  font-size: 15px;
  font-family: CircularSpotifyTxT-Book;
}
.address p{
  color: white;
  font-family:CircularSpotifyTxT-Black;
}
.bottom{
  padding-top: 50px;
}
.info{
  padding: 8px 32px 40px;
}